body{
    font-family: 'Quicksand', sans-serif;
}


/* MITRA SECTION------------------ */
.mitra_section{
    display: flex;
    padding: 20px;
    width: 90%;
    justify-content: space-between;
    margin: 10px auto;
    
}
img{
        width: 45%;
        height: 100%;
 }
 .mitra_content{
     width: 100%;
     padding:0 20px;
     margin: auto 0;
 }
.heading{
    font-size: 40px;
    margin: 20px 0;
    padding: 0;
}
.icons{
    margin: auto 0;
    
}
.fas{
    margin: auto 5px;
    color: #05386B;
}
.card{
    display: flex;
}
.content p:first-child{
    color: #05386B;
        font-size: 25px;
        font-weight: bolder;
        
        padding: 0;
        margin: 0 10px;
}
.content p:nth-child(2){
    padding: 0;
    margin: 0 10px;
    font-weight: bold;
}
.free_mentoring{
    background-color: #5CDB95;
    color:#05386B ;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .mitra_section{
        display: inline-block;
    }
    .mitra_section img{
        width: 90%;
    }
}
/* --------TEMPLATE------- */

.template_section{
    background-image: url("../Assets/Images/global-digital-earth-network-connection-technology-background_1017-23328.jpg");
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.inner_section{
    padding-top: 90px;
    padding-left: 50px;
    padding-bottom: 50px;
    
}
.template_section h1{
    font-size: 100px;
    margin: 0 10px;
    font-family: 'Pacifico', cursive;
    color: white;
}
.template_section p{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin: 0;
    margin-top: -30px;
    margin-left: 240px;
}
.buttons{
    display: flex;
    width: 23%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons button{
    background-color: #5CDB95;
    border-radius: 5px;
    padding: 7px 20px;
    color:#05386B;
    font-weight: bolder;
    font-size: 15px;
    margin: 5px auto;
    border: 2px solid #5CDB95;
}

@media only screen and (max-width: 600px) {
   .template_section{
       max-width: 100%;
   }
   .template_section h1{
       font-size: 90px;
       word-wrap: break-word;
   }
   .template_section p{
       margin-left: 20px;
       margin-top: 10px;
   }
   .buttons {
       width: 70%;
   }
}

/* NEW SECTION */
.feature_section h1{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.feature_section h1 span{
    color: #05386B;
    border-bottom: 4px solid #05386B;
    font-weight: bolder;
}
.features{
    /* margin: 20px 150px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.features div img{
    width: 200px;
    height: 250px;
    filter: brightness(30%);
}
.features div{
    position: relative;
}
.features div p{
    background-color:  #5CDB95;;
    position: absolute;
    top: 60%;
    left: 5%;
    color:#05386B;
    font-weight: bold;
    padding: 2px 40px;

}



.book_section h1{
    margin-top: 100px;
    text-align: center;
}
.book_section h1 span{
    color: #05386B;
    border-bottom: 4px solid #05386B;
    font-weight: bolder;
}
.book_section .books{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book_section .books .book{
    margin: 10px auto;
}
.book_section .books .book img{
    width: 200px;
    height: 240px;
}
.book_section .books .book p{
    margin: 5px auto;
    text-align: center;
}
.book_section .books .book .button{
    width: 100%;
    text-align: center;
}
.book_section .books .book button{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color: #05386B;
    color: #5CDB95;
}

@media only screen and (max-width: 600px) {
    .book_section .books{
        /* display: inline-block; */
    }
 }